.search-container {
    text-align: center;
    padding: 40px;
}

.search-logo {
    max-height: 250px;
}
.search-bar-container {
    margin: 25 auto;
    max-width: 800px;
    
}
.search-bar {
    color: rgb(62, 62, 62);
    width: 800px;
    height: 40px;
    border-radius: 25px;
    border: 1px solid rgba(128, 128, 128, 0.605);
    padding: 3px 20px;
    font-size:20px;
}

.search-bar:focus,
.search-bar:focus-visible
 {
    outline: none;
    /* border-radius: 25px 25px 0 0; */
}

.search-results-container {
    max-height: 600px;
     width: 800px;
     padding: 3px 20px;
     font-size: 18px;
      border: 1px solid rgba(128, 128, 128, 0.605);
      border-radius: 0 0 25px 25px;
      border-top: none;
      margin-top: -20px;
      box-shadow: 4px 4px 5px 1px rgb(0 0 0 / 20%);
}

.search-results-list {
    padding: 20px 0;
    margin: 10px 0;
    list-style: none;
    text-align: left;
}

.search-results-list > li {
    padding: 3px;
    color: rgb(62, 62, 62);
}

.search-results-list > li:hover {
    background: aliceblue;
}